<section id="kontakt">
  <div class="content">
    <h2>Contact</h2>
    <form class="" action="/en/index.html#kontakt_sent" method="post">
      <div id="kontakt_sent">Your message has been sent and I will be in touch as soon as possible</div>
      <label for="name">Name*</label>
      <input type="text" name="name" value="" placeholder="Max Mustermann" required>
      <label for="email">Email*</label>
      <input type="email" name="email" value="" placeholder="max@mustermann.com" required>
      <label for="datum">Desired Event Date</label>
      <div class="termine">
        <h2>Already booked dates:</h2>
        <div class="termine__list">
          {% assign timestamp_now = "now" | date: "%s" %}
          {% assign termine = site.data.termine | sort: "datum" %}

          {% for termin in termine limit: 6 %}
            {% assign timestamp_termin = termin.datum | date: "%s" %}

            {% if timestamp_termin >= timestamp_now %}
              <strong data-date='{{ termin.datum | date: "%Y-%m-%d" }}'>
                {{ termin.datum | date: "%d.%m.%Y" }}{% if forloop.last %}{% else %}, {% endif %}
              </strong>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <input type="text" name="datum" value="" placeholder="date">
      <label for="nachricht">Message*</label>
      <textarea name="nachricht" placeholder="Message ..." required></textarea>
      <label class="gdpr_check" for="gdpr_check">
        <input type="checkbox" name="gdpr_check" id="gdpr_check" required>
        <small>By using this form you agree to the storage and processing of your data by this website and the forwarding to the server hosting provider Netlify.</small>
      </label>

      <input type="text" name="_gotcha" style="display: none;">
      <input type="hidden" name="_to" value="mail@samuelboguslawski.com">
      <input type="submit" name="senden" value="Submit Request">
    </form>
  </div>
</section>
