<section id="kontakt">
  <div class="content">
    <h2>Contact</h2>
    <form class="" action="index.html" method="post">
      <label for="name">Name*</label>
      <input type="text" name="name" value="" placeholder="Max Mustermann" required>
      <label for="email">Email*</label>
      <input type="email" name="email" value="" placeholder="max@mustermann.com" required>
      <label for="datum">Desired Event Date</label>
      <div class="termine">
        <h2>Already booked dates:</h2>
        <div class="termine__list">
          {% assign timestamp_now = "now" | date: "%s" %}
          {% assign termine = site.data.termine | sort: "datum" %}

          {% for termin in termine limit: 6 %}
            {% assign timestamp_termin = termin.datum | date: "%s" %}

            {% if timestamp_termin >= timestamp_now %}
              <strong data-date='{{ termin.datum | date: "%Y-%m-%d" }}'>
                {{ termin.datum | date: "%d.%m.%Y" }}{% if forloop.last %}{% else %}, {% endif %}
              </strong>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <input type="text" name="datum" value="" placeholder="date">
      <label for="nachricht">Message*</label>
      <textarea name="nachricht" placeholder="Message ..." required></textarea>
      <input type="submit" name="senden" value="Submit Request">
    </form>
  </div>
</section>
