<section id="kontakt">
  <div class="content">
    <h2>Kontakt</h2>
    <form class="" action="index.html#kontakt_sent" method="post">
      <div id="kontakt_sent">Vielen Dank für die Nachricht. Ich werde mich so bald wie möglich bei Ihnen melden.</div>
      <label for="name">Name*</label>
      <input type="text" name="name" value="" placeholder="Max Mustermann" required>
      <label for="email">Email*</label>
      <input type="email" name="email" value="" placeholder="max@mustermann.de" required>
      <label for="datum">Terminwunsch</label>
      <input type="text" name="datum" value="" placeholder="Datum">
      <div class="termine">
        {% assign timestamp_now = "now" | date: "%s" %}
        {% assign termine = site.data.termine | sort: "datum" %}
        {% assign future_termine = "" | split: ',' %}

        {% for termin in termine %}
          {% assign timestamp_termin = termin.datum | date: "%s" %}
          {% if timestamp_termin >= timestamp_now %}
            {% assign future_termine = future_termine | push: termin %}
          {% endif %}
        {% endfor %}

        {% assign future_termine_length = future_termine | size %}
        {% if future_termine_length > 0 %}
          <h2>Bereits gebucht in naher Zukunft:</h2>
          <div class="termine__list">
            {% for termin in future_termine limit: 8 %}
              <div class="termine__item">
                <strong data-date='{{ termin.datum | date: "%Y-%m-%d" }}'>
                  {{ termin.datum | date: "%d.%m.%Y" }}:
                </strong>
                &nbsp;{{ termin.titel }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <label for="nachricht">Nachricht*</label>
      <textarea name="nachricht" placeholder="Nachricht ..." required></textarea>
      <label class="gdpr_check" for="gdpr_check">
        <input type="checkbox" name="gdpr_check" id="gdpr_check" required>
        <small>Mit der Nutzung dieses Formulars erklären Sie sich mit der Speicherung und Verarbeitung Ihrer Daten durch diese Webseite und der Weiterleitung an den Servicedienstleister Netlify einverstanden.</small>
      </label>

      <input type="text" name="_gotcha" style="display: none;">
      <input type="hidden" name="_to" value="kontakt@amadeusvadonis.de">
      <input type="submit" name="senden" value="Anfrage Senden">
    </form>
  </div>
</section>
