<section id="kontakt">
  <div class="content">
    <h2>Kontakt</h2>
    <form class="" action="index.html" method="post">
      <label for="name">Name*</label>
      <input type="text" name="name" value="" placeholder="Max Mustermann" required>
      <label for="email">Email*</label>
      <input type="email" name="email" value="" placeholder="max@mustermann.de" required>
      <label for="datum">Terminwunsch</label>
      <div class="termine">
        <h2>Bereits gebucht in naher Zukunft:</h2>
        <div class="termine__list">
          {% assign timestamp_now = "now" | date: "%s" %}
          {% assign termine = site.data.termine | sort: "datum" %}

          {% for termin in termine limit: 6 %}
            {% assign timestamp_termin = termin.datum | date: "%s" %}

            {% if timestamp_termin >= timestamp_now %}
              <strong data-date='{{ termin.datum | date: "%Y-%m-%d" }}'>
                {{ termin.datum | date: "%d.%m.%Y" }}{% if forloop.last %}{% else %}, {% endif %}
              </strong>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <input type="text" name="datum" value="" placeholder="Datum">
      <label for="nachricht">Nachricht*</label>
      <textarea name="nachricht" placeholder="Nachricht ..." required></textarea>
      <label class="gdpr_check" for="gdpr_check">
        <input type="checkbox" name="gdpr_check" id="gdpr_check" required>
        <small>Mit der Nutzung dieses Formulars erklären Sie sich mit der Speicherung und Verarbeitung Ihrer Daten durch diese Webseite und der Weiterleitung an den Servicedienstleister Netlify einverstanden.</small>
      </label>

      <input type="text" name="_gotcha" style="display: none;">
      <input type="hidden" name="_to" value="mail@samuelboguslawski.com">
      <input type="submit" name="senden" value="Anfrage Senden">
    </form>
  </div>
</section>
