/*

- Navigation
- Kontakt
- Footer

*/

/* NAVIGATION */
.nav-spacer {
  height: 83px;
  @media(min-width: 620px) {
    height: 103px;
  }
}

body>nav {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 2;

  /* height: 80px; */
  background-color: white;

  .content {
    display: flex;
    &>* { flex-basis: 30%; }
    @media(min-width: 620px) {
      .spacer { flex-basis: 0; }
      .menu { flex-grow: 1; }
    }
    @media(min-width: 1180px) {
      .spacer,
      .menu {
        flex-basis: 30%;
        flex-grow: 1;
      }
    }


    padding: 10px;
    @media(min-width: 620px) {
      padding: 20px 10px;
    }
  }

  .logo {
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;

    img {
      height: 58px;
      width: auto;
    }
  }

  ul {
    display: none;
    // Desktop styles:
    @media(min-width: 620px) {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .open {
    // Dropdown menu open:
    @media(max-width: 619px) {
      ul {
        display: block;
        position: absolute;
        top: 68px;
        right: 0;
        text-align: right;
        background-color: white;
        padding: 15px;
        width: 221px;
        box-shadow: 0 1px 5px 1px rgba(0,0,0,0.2);
      }
    }
  }

  li {
    padding: 5px;

    @media(min-width: 620px) {
      padding: 0;

      display: inline-block;
      font-weight: 700;

      margin: 0 10px;

      &:last-of-type {
        margin-left: 10px;
        font-weight: 400;
      }
    }
  }

  .menu {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: flex-end;
  }

  .hamburger {
    display: block;
    text-align: center;
    cursor: pointer;

    .line {
      height: 3px;
      width: 27px;
      background-color: #555;
      margin: 4px auto;
    }

    @media(min-width: 620px) {
      display: none;
    }
  }
}

/* KONTAKT */

#kontakt {
  background-color: #4b5452;
  color: #d5eae8; // rgb(213, 234, 232)

  .content>h2 {
    text-align: center;
  }

  form {
    width: 600px;
    max-width: 100%;
    margin: auto;
  }

  input,
  textarea {
    color: #d5eae8; // rgb(213, 234, 232)
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  [type="submit"] {
    color: #222;
  }
  [type="date"] {
    margin-bottom: 0;
  }
  [type="checkbox"] {
    width: auto;
    display: inline-block;
    margin: 0;
  }
  label.gdpr_check {
    display: block;
    margin-bottom: 20px;
  }

  .termine {
    color: rgba(213, 234, 232, 0.6);
    font-size: 0.8rem;
    margin-bottom: 20px;
    h2 {
      font-size: 0.8rem;
      margin-bottom: 0;
    }
  }
  .termine__item {
    width: 49%;
    display: inline-block;
    @media(max-width: 800px) {
      display: block;
      width: 100%;
    }
  }
}

#kontakt_sent {
  display: none;

  &:target {
    display: block;
    color: lightgreen;
    font-weight: 700;
    margin-bottom: 15px;
  }
}

/* FOOTER */

body>footer {
  font-size: 0.7rem;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #222;
  background-color: #4b5452;
}
