---
style_id: home
layout: home
titel: Menschen brauchen Jesus.
untertitel: Evangelisation  |  Predigten  |  Workshops  |  Freizeiten  |  Mentoring
portrait: "/media/uploads/portrait.jpg"
credo_link: Lesen Sie wofür ich stehe (Credo)
credo: |-
  **Jesus gab seinen Nachfolgern den Auftrag, allen Menschen um sie herum mit allem Nachdruck zu bezeugen und zu verkündigen, dass Jesus der von Gott eingesetzte Richter über die Lebenden und die Toten ist. Die Menschen haben nur ein Leben auf dieser Erde. Danach wird jeder Mensch am Ende der Zeiten vor dem Richterstuhl Gottes gerichtet werden.**

  Es gibt einen Himmel und eine Hölle. Es wird für jeden Menschen nur das Eine oder das Andere geben. Wie kann ein Mensch vor der Hölle gerettet werden? Wer Schuld auf sich geladen hat, und welcher Mensch hat das nicht, der wird verdammt werden und in alle Ewigkeit verloren sein. Das ist die schlechte Nachricht, die alle Menschen betrifft.

  **Aber es gibt auch die gute Nachricht. Gott selbst hat für diese gesorgt. Es ist die gute Nachricht von Jesus Christus, das Evangelium. Von Jesus haben alle Propheten geredet. Durch Jesus, so bezeugen sie einmütig, bekommt jeder die Vergebung seiner Schuld – jeder, der an Jesus glaubt.**

  Keiner muss verloren gehen. Keiner ist dazu verdammt, in der Hölle zu enden. Gott liebt die Menschen. Gott hat der Welt diese so große Liebe dadurch gezeigt, dass er seinen einzigen Sohn Jesus Christus für die Welt hergab, damit jeder Mensch, der an Ihn glaubt, das ewige Leben im Himmel besitzt und nicht verloren geht. Denn Gott sandte seinen Sohn nicht in die Welt, um sie zu verurteilen, sondern um sie durch Ihn zu retten.

  **Es gibt keinen anderen Weg der Erlösung, der den Menschen gegeben ist. Jesus Christus ist der Weg, die Wahrheit und das Leben.**
uebermich_titel: Über mich
uebermich_text: |-
  Ich bin 1970 in Talsi, Lettland, geboren. Ich bin verheiratet mit Sofia und wir haben vier Kinder.

  An der Freien Theologischen Akademie (jetzt [Freie Theologische Hochschule](https://www.fthgiessen.de)) in Gießen und am [Dallas Theological Seminary](https://www.dts.edu) in den USA habe ich Theologie studiert. Das Studium habe ich 1997 mit einem Master of Sacred Theology abgeschlossen.

  Für mehr als 17 Jahre war ich Gemeindegründer in Berlin. Schon in der Zeit war ich weltweit als Prediger und Evangelist unterwegs. Seit 2016 mache ich das hauptberuflich. Ich bin Mitglied bei der [Deutschen Evangelistenkonferenz](https://www.deutsche-evangelistenkonferenz.de).

  Bitte kontaktieren Sie mich, wenn Sie wünschen, dass ich auch zu Ihnen komme. Ich werde es gern tun.
blog_titel: Blog-Artikel
blog_link: Zum Blog
predigten_titel: Predigten
predigten:
- titel: Predigt Titel Eins
  datei: "/media/uploads/test-audio.mp3"
  datum: 10.08.2019
- titel: Predigt Titel Eins
  datei: "/media/uploads/test-audio.mp3"
  datum: 10.08.2019
- titel: Predigt Titel Eins
  datei: "/media/uploads/test-audio.mp3"
  datum: 10.08.2019

---
<header>
  <div class="content">
    <div class="portrait">
      <img src="{{ page.portrait }}" alt="Amadeus Vadonis - Portrait">
    </div>
    <div class="text">
      <h1>{{ page.titel }}</h1>
      <h2>{{ page.untertitel }}</h2>

      <a data-target=".header__credo">{{ page.credo_link }} &#x25BE;</a>
      <div class="header__credo">{{ page.credo | markdownify }}</div>
    </div>
  </div>
</header>


<section id="uebermich">
  <div class="content">
    <div class="spacer"></div>
    <div class="text">
      <div class="box">
        <h2>{{ page.uebermich_titel }}</h2>
        <div>{{ page.uebermich_text | markdownify }}</div>
      </div>
    </div>
  </div>
</section>


<section id="ressourcen">
  <div class="content">
    <div class="artikel">
      <h2>{{ page.blog_titel }}</h2>

      {% for post in site.posts %}
        <article>
          <h4>{{ post.title }}</h4>
          <small>{{ post.date | date: "%d.%m.%Y" }}</small>
          <p>{{ post.content | strip_html | truncatewords: 40 }}</p>
          <br>
          <a href="{{ post.url }}">Weiterlesen ...</a>
        </article>
      {% endfor %}

      <a href="/blog">{{ page.blog_link }}</a>

    </div>
    <div class="predigten">
      <h2>{{ page.predigten_titel }}</h2>

      {% for predigt in page.predigten %}
        <div class="predigt">
          <h4>{{ predigt.titel }}</h4>
          <small>{{ predigt.datum }}</small>
          <audio controls="controls" preload="none">
            <source src="{{ predigt.datei }}" type="audio/mpeg">
            Bitte updaten Sie Ihren Web Browser, um die Predigt anhören zu können.
          </audio>
        </div>
      {% endfor %}

    </div>
  </div>
</section>