---
_options:
  layout:
    hidden: true
  style_id:
    hidden: true
style_id: home
layout: home
predigten:
  - titel: Macht hoch die Tür
    datei_path: /media/uploads/2018_03_25_wienhausen.mp3
    datum: Palmsonntag 2018
  - titel: Bilanz ziehen im Leben
    datei_path: /media/uploads/2018_01_22_baienfurt.mp3
    datum: '2018'
  - titel: Die Kraft Gottes
    datei_path: /media/uploads/2015_ostern.mp3
    datum: Ostern 2015
---

<header>
  <div class="content">
    <div class="portrait">
      <img class="editable" src="/media/uploads/portrait.jpg" alt="Amadeus Vadonis - Portrait" />
    </div>
    <div class="text">
      <h1 class="editable">
        Menschen brauchen Jesus.
      </h1>
      <h2 class="editable">
        Evangelisation | Predigten | Workshops | Freizeiten | Mentoring
      </h2>

      <a data-target=".header__credo"><span class="editable">Lesen Sie wofür ich stehe (Credo)</span> &#x25BE;</a>
      <div class="header__credo editable">
        <p><strong>Jesus gab seinen Nachfolgern den Auftrag, allen Menschen um sie herum mit allem Nachdruck zu bezeugen und zu verk&uuml;ndigen, dass Jesus der von Gott eingesetzte Richter &uuml;ber die Lebenden und die Toten ist. Die Menschen haben nur ein Leben auf dieser Erde. Danach wird jeder Mensch am Ende der Zeiten vor dem Richterstuhl Gottes gerichtet werden.</strong>&nbsp;</p>
        <p>Es gibt einen Himmel und eine H&ouml;lle. Es wird f&uuml;r jeden Menschen nur das Eine oder das Andere geben. Wie kann ein Mensch vor der H&ouml;lle gerettet werden? Wer Schuld auf sich geladen hat, und welcher Mensch hat das nicht, der wird verdammt werden und in alle Ewigkeit verloren sein. Das ist die schlechte Nachricht, die alle Menschen betrifft.</p>
        <p><strong>Aber es gibt auch die gute Nachricht. Gott selbst hat f&uuml;r diese gesorgt. Es ist die gute Nachricht von Jesus Christus, das Evangelium. Von Jesus haben alle Propheten geredet. Durch Jesus, so bezeugen sie einm&uuml;tig, bekommt jeder die Vergebung seiner Schuld &ndash; jeder, der an Jesus glaubt.</strong></p>
        <p>Keiner muss verloren gehen. Keiner ist dazu verdammt, in der H&ouml;lle zu enden. Gott liebt die Menschen. Gott hat der Welt diese so gro&szlig;e Liebe dadurch gezeigt, dass er seinen einzigen Sohn Jesus Christus f&uuml;r die Welt hergab, damit jeder Mensch, der an Ihn glaubt, das ewige Leben im Himmel besitzt und nicht verloren geht. Denn Gott sandte seinen Sohn nicht in die Welt, um sie zu verurteilen, sondern um sie durch Ihn zu retten.</p>
        <p><strong>Es gibt keinen anderen Weg der Erl&ouml;sung, der den Menschen gegeben ist. Jesus Christus ist der Weg, die Wahrheit und das Leben.</strong></p>
      </div>
    </div>
  </div>
</header>


<section id="uebermich">
  <div class="content">
    <div class="spacer"></div>
    <div class="text">
      <div class="box">
        <h2 class="editable">
          &Uuml;ber Mich
        </h2>
        <div class="editable">
          <p>Ich bin 1970 in Talsi, Lettland, geboren. Ich bin verheiratet mit Sofia und wir haben vier Kinder.</p>
          <p>An der Freien Theologischen Akademie in Gie&szlig;en und am <a target="_blank" href="https://www.dts.edu">Dallas Theological Seminary</a>&nbsp;in den USA habe ich Theologie studiert. Das Studium habe ich 1997 mit einem Master of Sacred Theology abgeschlossen.</p>
          <p>F&uuml;r mehr als 17 Jahre war ich Gemeindegr&uuml;nder in Berlin. Schon in der Zeit war ich weltweit als Prediger und Evangelist unterwegs. Seit 2016 mache ich das hauptberuflich. Ich bin Mitglied bei der <a target="_blank" href="https://www.deutsche-evangelistenkonferenz.de">Deutschen Evangelistenkonferenz</a>.</p>
          <p>Bitte kontaktieren Sie mich, wenn Sie w&uuml;nschen, dass ich auch zu Ihnen komme. Ich werde es gern tun.</p>
          <p>In der <a target="_blank" rel="noopener" href="https://www.bibeltv.de/mediathek/videos/323188-evangelist-aus-lettland">Mediathek von bibel.TV</a> k&ouml;nnen Sie ein Interview mit mir ansehen, das Wilfried Schulte 2019 gef&uuml;hrt hat.&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="ressourcen">
  <div class="content">
    <div class="artikel">
      <h2 class="editable">
        Blog-Artikel
      </h2>

      {% for post in site.posts %}
        <article>
          <h4>{{ post.title }}</h4>
          <small>{{ post.date | date: "%d.%m.%Y" }}</small>
          <p>{{ post.content | strip_html | truncatewords: 40 }}</p>
          <br />
          <a href="{{ post.url }}">Weiterlesen ...</a>
        </article>
      {% endfor %}

      <a href="/blog"><span class="editable">Zum Blog</span></a>

    </div>
    <div class="predigten">
      <h2 class="editable">
        Predigten
      </h2>

      {% for predigt in page.predigten %}
        <div class="predigt">
          <h4>{{ predigt.titel }}</h4>
          <small>{{ predigt.datum }}</small>
          <audio controls="controls" preload="none">
            <source src="{{ predigt.datei_path }}" type="audio/mpeg" />
            Bitte updaten Sie Ihren Web Browser, um die Predigt anhören zu können.
          </audio>
        </div>
      {% endfor %}

    </div>
  </div>
</section>
