---
style_id: home
layout: home
title: 'Evangelisation, Predigten, Workshops'
predigten:
  - title: Predigt Titel Eins
    file: /media/predigten/test-audio.mp3
    date: 10.08.2019
  - title: Predigt Titel Eins
    file: /media/predigten/test-audio.mp3
    date: 10.08.2019
  - title: Predigt Titel Eins
    file: /media/predigten/test-audio.mp3
    date: 10.08.2019
---

<header>
  <div class="content">
    <div class="portrait">
      <img src="/media/bilder/portrait.jpg" alt="Amadeus Vadonis - Portrait">
    </div>
    <div class="text">
      <h1>{{ page.title }}</h1>
      <h2>Laden Sie mich gerne zu Evangelisationsgottesdiensten oder Veranstaltungen zum Predigen ein.</h2>

      <a data-target=".header__credo">Lesen Sie wofür ich stehe (Credo) &#x25BE;</a>
      <p class="header__credo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</header>


<section id="uebermich">
  <div class="content">
    <div class="spacer"></div>
    <div class="text">
      <div class="box">
        <h2>Über Mich</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
</section>


<section id="ressourcen">
  <div class="content">
    <div class="artikel">
      <h2>Blog-Artikel</h2>

      {% for post in site.posts %}
        <article>
          <h4>{{ post.titel }}</h4>
          <small>{{ post.datum | date: "%d.%m.%Y" }}</small>
          <p>{{ post.content | strip_html | truncatewords: 40 }}</p>
          <br>
          <a href="{{ post.url }}">Weiterlesen ...</a>
        </article>
      {% endfor %}

      <a href="/blog">Zum Blog</a>

    </div>
    <div class="predigten">
      <h2>Predigten</h2>

      {% for predigt in page.predigten %}
        <div class="predigt">
          <h4>{{ predigt.title }}</h4>
          <small>{{ predigt.date }}</small>
          <audio controls="controls" preload="none">
            <source src="{{ predigt.file }}" type="audio/mpeg">
            Bitte updaten Sie Ihren Web Browser, um die Predigt anhören zu können.
          </audio>
        </div>
      {% endfor %}

    </div>
  </div>
</section>
