<!DOCTYPE html>
<html lang='en'>
  {% include head.html %}
  <body data-page="{{ page.style_id }}">

    {{ content }}

    <section id="kontakt">
      <div class="content">
        <h2>Kontakt</h2>
        <form class="" action="index.html" method="post">
          <label for="name">Name*</label>
          <input type="text" name="name" value="" placeholder="Max Mustermann" required>
          <label for="email">Email*</label>
          <input type="email" name="email" value="" placeholder="max@mustermann.de" required>
          <label for="datum">Terminwunsch</label>
          <div class="termine">
            <h2>Bereits gebucht in naher Zukunft:</h2>
            <div class="termine__list">
              <strong data-date="2019-01-15">15.01.2019</strong>, <strong data-date="2019-01-20">20.01.2019</strong>, <strong data-date="2018-08-23">23.08.2018</strong>, <strong data-date="2018-08-28">28.08.2018</strong>, <strong data-date="2018-08-30">30.08.2018</strong>, <strong data-date="2018-10-01">01.10.2018</strong>
            </div>
          </div>
          <input type="text" name="datum" value="" placeholder="Datum">
          <label for="nachricht">Nachricht*</label>
          <textarea name="nachricht" placeholder="Nachricht ..." required></textarea>
          <input type="submit" name="senden" value="Anfrage Senden">
        </form>
      </div>
    </section>

    <footer>
      <a href="/impressum">Impressum</a>
      &nbsp;|&nbsp;
      <a href="/datenschutz">Datenschutz</a>
    </footer>

    {% asset main.js %}
    {% include third_party_scripts.html %}
  </body>
</html>
