---
layout: default
---

<nav class="content">
  <div class="logo">
    <a href="/"><img src="/media/layout/logo.png" alt="Amadeus Vadonis - Logo"></a>
  </div>
  <div class="spacer"></div>
  <div class="menu">
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#kontakt">Kontakt & Termine</a></li>
      <li><a href="/blog">DE</a>/<a href="/en/blog">EN</a></li>
    </ul>
  </div>
</nav>

<main>
  {{ content }}
</main>
