---
style_id: blog
layout: page
---

<header class="content">
  <h1>Blog</h1>
</header>

<section>
  {% for post in paginator.posts %}
    <article>
      {% if post.titel_bild %}
        <a class="blog__headimg" href="{{ post.url }}" style="background-image: url({{ post.titel_bild }})"></a>
      {% endif %}

      <div class="content">
        <a href="{{ post.url }}">
          <h2>{{ post.title }}</h2>
        </a>
        <small>{{ post.date | date: "%d.%m.%Y" }}</small>
        {{ post.excerpt }}
        <br>
        <a href="{{ post.url }}">Weiterlesen ...</a>
      </div>
    </article>
  {% endfor %}
</section>

<ul class="pager">
  {% if paginator.previous_page %}
    <li class="previous">
      <a href="{{ paginator.previous_page_path }}">
        <span aria-hidden="true">&larr;</span><span class="hidden-xs"> Neue Beiträge</span>
      </a>
    </li>
  {% endif %}
  {% if paginator.next_page %}
    <li class="next">
      <a href="{{ paginator.next_page_path }}">
        <span class="hidden-xs">Ältere Beiträge</span> <span aria-hidden="true">&rarr;</span>
      </a>
    </li>
  {% endif %}
</ul>
