/*

- Header
- Über Mich
- Ressourcen
- Termine
- Kontakt

*/

[data-page="home"] {
  /* GENERAL */
  p {margin-top: 0.5rem}

  /* HEADER */
  header {
    &>.content {
      display: flex;
      flex-direction: column-reverse;

      @media(min-width: 620px) {
        flex-direction: row;
        &>* { flex-basis: 50%; }
      }
    }

    .portrait {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -60px;

      @media(min-width: 620px) {
        margin-bottom: -300px;
        padding: 30px;
      }
    }

    img {
      width: 500px;
      max-width: 100%;

      border-radius: 50%;
      border: 30px solid white;

      @media(min-width: 620px) {
        margin-top: 20px;
        position: sticky;
        top: 83px; /* height of the nav */
      }
    }

    .text {
      margin: 30px;
      @media(min-width: 620px) {
        margin: 120px 0;
        padding: 30px;
      }

      h2 {
        margin-top: 10px;
        font-size: 1rem;
        margin-bottom: 0;
      }
    }

    a {
      cursor: pointer;
      margin: 10px 0;
      display: block;
    }

    .header__credo {
      max-height: 1px;
      overflow: hidden;
      transition: max-height 1.5s ease;

      &.open {
        max-height: 9999px;
      }
    }
  }

  /* MAIN UEBERMICH */
  #uebermich {
    background-color: #01bc9a;
    border-top: 60px solid #79c4b6;

    @media(min-width: 620px) {
      &>.content {
        display: flex;
        &>* { flex-basis: 50%; }
      }
    }

    .box {
      margin: 30px 0;
      background-color: white;
      box-shadow: 0 1px 5px 1px rgba(0,0,0,0.2);
      padding: 30px;
    }
  }

  /* MAIN RESSOURCEN */
  #ressourcen {
    @media(min-width: 620px) {
      &>.content {
        padding-top: 60px;
        padding-bottom: 60px;

        display: flex;
        &>* { flex-basis: 50%; }
      }
    }

    .artikel {
      flex-basis: 70%;

      @media(max-width: 619px){
        border-bottom: 1px solid #ccc;
        padding-bottom: 40px;
        margin-bottom: 40px;
      }
    }
    article {
      margin: 10px 0;
      @media(min-width: 620px){ margin: 10px 30px 10px 0; }

      padding: 15px;
      box-shadow: 0 1px 5px 1px rgba(0,0,0,0.2);
    }

    .predigten {
      flex-basis: 29%;
    }
    .predigt {
      margin-bottom: 20px;
      small {display: block; }
    }
  }
}
