[data-page="post"] {
  main {
    max-width: 840px;
    margin: auto;
  }

  header {
    img {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  article {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 30px;
    }

    p { margin-top: 20px; }

    h1 {
      font-size: 2.6rem;
      font-weight: 100;
      margin-bottom: 0;

      @media(max-width: 1000px) {
        font-size: 2rem;
      }
      @media(max-width: 800px) {
        font-size: 1.4rem;
      }
    }
    h2 {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 0;

      @media(max-width: 800px) {
        font-size: 1.2rem;
      }
    }
    h3 {
      font-size: 1.4rem;
      font-weight: 700;
      margin-bottom: 0;

      @media(max-width: 800px) {
        font-size: 1rem;
      }
    }
    img {
      margin: auto;
      max-width: 100%;
    }
  }

  main footer {
    text-align: center;
    margin: 40px 0;
  }
}
