/* Reset CSS */
@import 'css/reset.css';

/* Plugins */
@import 'css/plugins/pickaday.css';

/* Custom CSS */
@import 'css/global.scss';
@import 'css/layout.scss';

@import 'css/pages/home.scss';
@import 'css/pages/blog.scss';
@import 'css/pages/post.scss';
@import 'css/pages/impressum.scss';
@import 'css/pages/404.scss';
